/*colors:  
background: #14181C
dark garnet: 6b0504
sunflower gold: e6af2e
A31621
*/

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    color: white;
    background-color: #14181C
}

img {
    max-width: 100%;
    width: 100%;
    height: 350px;
    display: block;
}

button {
    cursor: pointer;
    font: inherit;
    border: 1px solid #6b0504;
    color: #6b0504;
    padding: 12px
}


footer {
    margin: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    background-color: transparent;
    color: white;
}

.header h1 {
    flex: 0 0 auto;
}

.header input {
    height: 3em;
    flex: 1 1 240px;
}

.header button {
    height: 3em;
    color: white;
    border: 1px solid #6b0504;
    background-color: #6b0504;
    flex: 0 0 auto;
    padding: 7px;
}


nav { 
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding: 12px 24px;
}

nav button {
    color: #6b0504;
    border-radius: 999px;
    padding: 6px 14px;
    border: 1px solid #6b0504
}

nav button.ativo {
    background-color: #6b0504;
    color: white;
}

#lista {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 24px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #14181C;
    width: 200px; 
    padding: 15px;
    border-radius: 20px;
    background-color: #CED3DC;
    box-shadow: 0 1px 10px #0002;
}

.card .acoes {
    margin-top: auto;
    display: flex; gap: 8px
}